{% extends "main.html" %}

{% block bodyclass %}class="d-flex flex-column min-vh-100 landing"{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <img class="brand" src="{{ url_for('theme.static', filename='images/logo.png') }}" />
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
    <div id="lp-register">
    	<div class="container wrapper">
        <div class="row">
          <div class="col-sm-5">
            <div class="intro-texts">
              <h3 class="text-white">Authorized Use Only</h3>
              <p>Any or all uses of this system and all data on this system may be intercepted,
monitored, recorded, copied, audited, inspected, peered at, judged, laughed at,
broadcast to satellites, transmitted to alien civilizations, and disclosed
to authorized sites and law enforcement personnel, as well as authorized
officials of other agencies as determined by International Maritime Law and
Charlie Sheen.</p>
              <p>By using this system, the user consents to such disclosure at the discretion
of authorized site personnel. Unauthorized or improper use of this system may
result in administrative disciplinary action, civil and criminal penalties,
and ridicule in front of a room of 1,000 angry nerds. By continuing to use
this system you indicate your awareness of and consent to these terms and
conditions of use. STOP IMMEDIATELY!!! if you do not agree to the conditions
stated in this warning. Or, you know, do what you were going to do anyway.  You may be evil, but you're not stupid.</p>              
            </div>
          </div>
          <div class="col-sm-6 offset-sm-1">
            <div class="reg-form-container"> 
              {{ login_note() if login_note is defined }}            
              <!-- Register/Login Tabs-->
              <div class="reg-options">
                <ul class="nav nav-tabs">
                  <li {{'class="active"' if activetab == 'register'}}><a href="#register" data-toggle="tab">{{ _("Register") }}</a></li>
                  <li {{'class="active"' if activetab == 'login'}}><a href="#login" data-toggle="tab">{{ _("Login") }}</a></li>
                </ul><!--Tabs End-->
              </div>
              
              <!--Registration Form Contents-->
              <div class="tab-content">
                <div class="tab-pane {{'active' if activetab == 'register'}}" id="register">
                  <h3>Create an account</h3>
                  {% include '_register_form.html' %}
                </div>

                <!--Login-->
                <div class="tab-pane {{'active' if activetab == 'login'}}" id="login">
                  <h3>Login</h3>
                  <p class="text-muted">Log into your account</p>
                  {% include '_login_form.html' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
