{% extends "master.html" %}

{% block bodyclass %}class="d-flex flex-column min-vh-100"{% endblock %}

{% block head %}
    <link href="{{ url_for('theme.static', filename='vendor/bootstrap-4.3.1/bootstrap.min.nodata.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('theme.static', filename='css/default.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block navbar %}
    <header id="header-inverse">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('root.root') }}">noggin</a>
          </div>
          {% if current_user %}
          <!-- Collect the nav links, forms, and other content for toggling -->
          <form class="navbar-form navbar-right hidden-sm">
            <div class="form-group">
              <i class="icon ion-android-search"></i>
              <input id="search" type="search" class="typeahead form-control" autocomplete="off" placeholder="{{_('search...')}}">
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right main-menu">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('.groups') }}">{{_("Groups")}}</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="contact.html">
                <img style="margin-right: 10px" src="{{ gravatar(current_user.username if current_user.username else 'default', 30) }}" class="bg-white"/>
                <span>{{ current_user.name }}</span>
              </a>
              <ul class="dropdown-menu login">
                <li><a class="dropdown-item" href="{{ url_for('.user', username=current_user.username) }}">{{_("Profile")}}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('.user_settings_profile', username=current_user.username) }}">{{_("Settings")}}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('.logout') }}">{{_("Log Out")}}</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}
        </div><!-- /.container -->
      </nav>
    </header>
{% endblock %}

{% block bodycontent %}
    <div class="mb-auto">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <footer class="text-light py-4 mt-auto">
        <div class="container h6 text-center">
            {% set noggin_link %}
                <a href="https://github.com/fedora-infra/noggin">noggin</a>
            {% endset %}
            <div><small>{{_("Powered by %(noggin_link)s", noggin_link=noggin_link)}}</small></div>
            <div class="text-light"><small>{{ ipa.ipa_version|default('') }}</small></div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('theme.static', filename='vendor/jquery/jquery-3.3.1.min.js') }}"></script>
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('theme.static', filename='vendor/popper-1.14.7/popper.min.js') }}"></script>
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('theme.static', filename='vendor/bootstrap-4.3.1/bootstrap.min.js') }}"></script>
    {{ super() }}
{% endblock %}


{# a required macro defining text to show on the unlogged in index page #}
{% macro front_page_blurb() %}
<h2 class="display-4">{{_("Welcome to noggin!")}}</h2>
<p class="lead">
    {{_("This is the open source, community self-service portal for FreeIPA. It allows you to do things like create an account, change your password, manage group membership, and more.")}}
</p>
{% endmacro %}



{# an optional macro defining an element to show for editing group details #}
{# typically, it used to link to a ticket tracker for an admin to edit a group #}
{#
{% macro edit_group_details() %}
{% endmacro %}
#}

{# an optional macro defining an element to show for account disable #}
{# typically, it used to link to a ticket tracker for an admin to perform the disable #}
{#
{% macro request_disable_account() %}
{% endmacro %}
#}

{# an optional macro defining an element to show for lost OTP tokens #}
{#
{% macro lost_otp_token() %}
{% endmacro %}
#}
